<div class="grid-container">
  <mat-card-title>Dashboard</mat-card-title>
  <mat-card-subtitle
    >Click on the mini cards for more information</mat-card-subtitle
  >
  <mat-grid-list cols="{{ (cardLayout | async)?.columns }}" rowHeight="200px">
    <mat-grid-tile
      *ngFor="let mc of miniCardData$ | async"
      [colspan]="(cardLayout | async)?.miniCard?.cols"
      [rowspan]="(cardLayout | async)?.miniCard?.rows"
    >
      <app-card [clickable]="true" (click)="mc.link()">
        <app-mini-card
          [title]="mc.title"
          [textValue]="mc.textValue"
          [icon]="mc.icon"
        ></app-mini-card>
      </app-card>
    </mat-grid-tile>

    <div *ngIf="show.topics">
      <ng-container *ngIf="topicData$ | async as topicData">
        <mat-grid-tile
          *ngFor="let topicStat of topicData"
          [colspan]="(cardLayout | async)?.midCard?.cols"
          [rowspan]="(cardLayout | async)?.midCard?.rows"
        >
          <app-card [title]="topicStat.title" [subtitle]="topicStat.subtitle">
            <app-common-chart
              [height]="topicStat.height"
              [width]="topicStat.width"
              [barChartLabels]="topicStat.barChartLabels"
              [barChartData]="topicStat.barChartData"
              [barChartType]="topicStat.barChartType"
              [barChartLegend]="topicStat.barChartLegend"
              [maxValue]="topicStat.maxValue"
            ></app-common-chart>
          </app-card> </mat-grid-tile
      ></ng-container>
    </div>

    <div>
      <ng-container *ngIf="show.entries">
        <mat-grid-tile
          *ngFor="let topicStat of entryData$ | async"
          [colspan]="(cardLayout | async)?.midCard?.cols"
          [rowspan]="(cardLayout | async)?.midCard?.rows"
        >
          <app-card [title]="topicStat.title" [subtitle]="topicStat.subtitle">
            <app-common-chart
              [height]="topicStat.height"
              [width]="topicStat.width"
              [barChartLabels]="topicStat.barChartLabels"
              [barChartData]="topicStat.barChartData"
              [barChartType]="topicStat.barChartType"
              [barChartLegend]="topicStat.barChartLegend"
              [maxValue]="topicStat.maxValue"
            ></app-common-chart>
          </app-card> </mat-grid-tile
      ></ng-container>
      <mat-grid-tile [hidden]="!show.entries" [colspan]="4" [rowspan]="4">
        <app-card
          title="Student Participation Over Time"
          class="participation-card"
          style="margin-top: 20px"
        >
          <div class="mat-elevation-z8">
            <table
              mat-table
              [dataSource]="participationData.dataSource"
              class="full-width-table"
            >
              <ng-container
                *ngFor="let column of participationData.columnConfigs"
                [matColumnDef]="column.columnDef"
              >
                <th mat-header-cell *matHeaderCellDef>
                  {{ column.displayName }}
                </th>
                <td mat-cell *matCellDef="let row">{{ column.cell(row) }}</td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="participationData.displayedColumns"
              ></tr>
              <tr
                mat-row
                *matRowDef="
                  let row;
                  columns: participationData.displayedColumns
                "
              ></tr>
            </table>
            <mat-paginator
              [pageSizeOptions]="[10, 15, 20]"
              showFirstLastButtons
              aria-label="Select pages"
            >
            </mat-paginator>
          </div>
        </app-card>
      </mat-grid-tile>
    </div>

    <div *ngIf="show.course">
      <mat-grid-tile
        [colspan]="(cardLayout | async)?.largeCard?.cols"
        [rowspan]="(cardLayout | async)?.largeCard?.rows"
      >
        <app-card title="Enrollment per Course">
          <app-common-chart
            *ngIf="enrollmentData$ | async as enrollmentData"
            [height]="enrollmentData.height"
            [barChartLabels]="enrollmentData.barChartLabels"
            [barChartData]="enrollmentData.barChartData"
            [barChartType]="enrollmentData.barChartType"
            [barChartLegend]="enrollmentData.barChartLegend"
            [maxValue]="enrollmentData.maxValue"
          ></app-common-chart>
        </app-card>
      </mat-grid-tile>
    </div>

    <div *ngIf="show.students">
      <mat-grid-tile
        *ngFor="let i of [1]"
        [colspan]="(cardLayout | async)?.largeCard?.cols"
        [rowspan]="(cardLayout | async)?.largeCard?.rows"
      >
        <app-card>
          <app-user></app-user>
        </app-card>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>
