<div class="grid-container">
  <mat-card-title>Dashboard</mat-card-title>
  <mat-card-subtitle
    >Click on the mini cards for more information</mat-card-subtitle
  >
  <mat-grid-list cols="{{ (cardLayout | async)?.columns }}" rowHeight="200px">
    <mat-grid-tile
      *ngFor="let mc of miniCardData$ | async"
      [colspan]="(cardLayout | async)?.miniCard?.cols"
      [rowspan]="(cardLayout | async)?.miniCard?.rows"
    >
      <app-card [clickable]="true" (click)="mc.link()">
        <app-mini-card
          [title]="mc.title"
          [textValue]="mc.textValue"
          [icon]="mc.icon"
        ></app-mini-card>
      </app-card>
    </mat-grid-tile>

    <div *ngIf="show.topics">
      <ng-container *ngIf="topicData$ | async as topicData">
        <mat-grid-tile
          *ngFor="let topicStat of topicData"
          [colspan]="(cardLayout | async)?.midCard?.cols"
          [rowspan]="(cardLayout | async)?.midCard?.rows"
        >
          <app-card [title]="topicStat.title" [subtitle]="topicStat.subtitle">
            <app-common-chart
              [height]="topicStat.height"
              [width]="topicStat['width']"
              [displayLabel]="topicStat['displayLabel']"
              [barChartLabels]="topicStat.barChartLabels"
              [barChartData]="topicStat.barChartData"
              [barChartType]="topicStat.barChartType"
              [barChartLegend]="topicStat.barChartLegend"
              [maxValue]="topicStat.maxValue"
            ></app-common-chart>
          </app-card> </mat-grid-tile
      ></ng-container>
    </div>

    <div *ngIf="show.entries">
      <mat-grid-tile
        *ngFor="let topicStat of entryData$ | async"
        [colspan]="(cardLayout | async)?.midCard?.cols"
        [rowspan]="(cardLayout | async)?.midCard?.rows"
      >
        <app-card [title]="topicStat.title" [subtitle]="topicStat.subtitle">
          <app-common-chart
            [height]="topicStat.height"
            [width]="topicStat['width']"
            [displayLabel]="topicStat['displayLabel']"
            [barChartLabels]="topicStat.barChartLabels"
            [barChartData]="topicStat.barChartData"
            [barChartType]="topicStat.barChartType"
            [barChartLegend]="topicStat.barChartLegend"
            [maxValue]="topicStat.maxValue"
          ></app-common-chart>
        </app-card>
      </mat-grid-tile>
      <mat-grid-tile
        *ngFor="let participationData of tableData$ | async"
        [colspan]="(cardLayout | async)?.largeCard?.cols"
        [rowspan]="(cardLayout | async)?.largeCard?.rows"
      >
        <app-card
          [title]="participationData.title"
          [subtitle]="participationData.subtitle"
          class="participation-card"
          style="margin-top: 20px"
        >
          <app-common-table [tableData]="participationData"></app-common-table>
        </app-card>
      </mat-grid-tile>
    </div>

    <div *ngIf="show.course">
      <mat-grid-tile
        [colspan]="(cardLayout | async)?.largeCard?.cols"
        [rowspan]="(cardLayout | async)?.largeCard?.rows"
      >
        <app-card
          title="Enrollment per Course"
          subtitle="To analyze the popularity of each course"
        >
          <app-common-chart
            *ngIf="enrollmentData$ | async as enrollmentData"
            [height]="enrollmentData.height"
            [barChartLabels]="enrollmentData.barChartLabels"
            [barChartData]="enrollmentData.barChartData"
            [barChartType]="enrollmentData.barChartType"
            [barChartLegend]="enrollmentData.barChartLegend"
            [maxValue]="enrollmentData.maxValue"
          ></app-common-chart>
        </app-card>
      </mat-grid-tile>
    </div>

    <div *ngIf="show.students">
      <mat-grid-tile
        *ngFor="let i of [1]"
        [colspan]="(cardLayout | async)?.largeCard?.cols"
        [rowspan]="(cardLayout | async)?.largeCard?.rows"
      >
        <app-user></app-user>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>
