.grid-container {
  margin: 20px;
}

/* Table styles */
table {
  width: 100%;
}

table th {
  font-weight: bold;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}
.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

::ng-deep .mat-sort-header-content {
  display: block !important;
}

::ng-deep .mat-sort-header-content input {
  display: block;
  width: 100%;
  margin-top: 4px;
  padding: 0 8px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

mat-card-title {
  color: var(--mat-sidenav-content-text-color, var(--mat-sys-on-background));
  font-family: var(--mat-card-title-text-font, var(--mat-sys-title-large-font));
  line-height: var(
    --mat-card-title-text-line-height,
    var(--mat-sys-title-large-line-height)
  );
  font-size: var(--mat-card-title-text-size, var(--mat-sys-title-large-size));
  letter-spacing: var(
    --mat-card-title-text-tracking,
    var(--mat-sys-title-large-tracking)
  );
  font-weight: var(
    --mat-card-title-text-weight,
    var(--mat-sys-title-large-weight)
  );
  display: block;
  margin: 0 15px 0 0;
}

mat-card-subtitle {
  color: var(--mat-card-subtitle-text-color, var(--mat-sys-on-surface));
  font-family: var(
    --mat-card-subtitle-text-font,
    var(--mat-sys-title-medium-font)
  );
  line-height: var(
    --mat-card-subtitle-text-line-height,
    var(--mat-sys-title-medium-line-height)
  );
  font-size: var(
    --mat-card-subtitle-text-size,
    var(--mat-sys-title-medium-size)
  );
  letter-spacing: var(
    --mat-card-subtitle-text-tracking,
    var(--mat-sys-title-medium-tracking)
  );
  font-weight: var(
    --mat-card-subtitle-text-weight,
    var(--mat-sys-title-medium-weight)
  );
  display: block;
  margin: 0;
  padding-top: 0;
}
