<div class="grid-container">
  <div style="margin-bottom: 15px">
    <mat-card-title>Discussions</mat-card-title>
    <mat-card-subtitle
      >Analyze discussion activity to gain insights into student engagement and
      topic relevance. (Click on row to view entries)</mat-card-subtitle
    >
  </div>
  <div>
    <div>
      <app-common-table
        [tableData]="topicList"
        [deleteFn]="deleteTopic"
        [showDeleteButtonFn]="canDeleteTopic"
        [selectRowFn]="selectTopic"
      ></app-common-table>
    </div>
    <div *ngIf="selectedTopic">
      <div *ngIf="entry.dataSource.data.length > 0; else noEntry">
        <mat-card-title style="padding-top: 10px">Entries</mat-card-title>
        <app-common-table [tableData]="entry"></app-common-table>
      </div>

      <ng-template #noEntry>
        <h3 style="padding-top: 10px">Entries</h3>
        <p style="text-align: center; padding: 20px; color: gray">
          No entries found.
        </p>
      </ng-template>
    </div>
  </div>
</div>
